body {
  background-image: url("pozadina1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
h2 {
  font-size: 64px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 0px;
  border-radius: 20px;
  border-bottom: 1px solid black;
}
h3 {
  font-family: "Outfit", sans-serif;
  font-size: 40px;
}
h4 {
  font-family: "Outfit", sans-serif;
  font-size: 32px;
}
#Container {
  background-color: rgba(255, 255, 255, 0.45);
  width: 80%;
  margin: 10px auto;
  padding: 30px;
  border-radius: 20px;
}


a {
  text-decoration: none;
  color: white;
}

.navigation a{
  text-decoration: none;
  color: black;
  padding: 16px;
  border-radius: 20px;
  position: relative;
  right:5%;
  
}

.navigation li{
width: 100%;
  margin-bottom: 32px;
  list-style-type: none;
 
  font-family:  "Merriweather", serif;
  text-align: center;
}
.navigation {
  
  margin: 8px;
  padding: 8px;
  width: 40%;
  float: left;
  position: relative;
  left: 1%;
  box-sizing: border-box;

}
.navigation li a:hover{
  color:white;
  background-color:rgba(0, 0, 0, 0.5);
  border: 1px solid gray;


}
.Top {
  color: blue;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
  float: right;
}


.sidebar {
  margin: 8px;
  padding: 16px;
  height: 50%;
  width: 55%;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  float: right;
  box-sizing: border-box;
  border-left: 1px solid black;
  overflow: scroll;
  overflow-x: hidden;
}
.sidebar2 {
  margin: 8px;
  padding: 16px;
  height: 50%;
  width: 55%;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  float: right;
  box-sizing: border-box;
  border-left: 1px solid black;
}
img {
  float: left;
  margin-right: 8px;
  padding: 0px;
  width: 300px;
}
.Pupin{
  float: left;
  margin-right: 8px;
  padding: 0px;
  width: 200px;
}
#footer {
  clear: both;
  width: 100%;
  border-radius: 20px;
  margin-top: 8px;
  text-align: center;
  padding: 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  border-top: 1px solid black;
}
table {
  clear: both;
  border-collapse: collapse;
}
th {
  background-color: rgba(233, 77, 77, 0.5);
  text-align: center;
  color: white;
  padding: 4px;
  border-color: white;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}
td {
  background-color: rgb(87, 87, 240, 0.5);
  border-color: white;
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 16px;
  padding: 1px;
  color: white;
}
.clear {
  clear: both;
}
